/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}

/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
    margin-top: 10%;
	font-size: 16px;
	font-family: sans-serif;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #000000;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}

/* เพิ่ม @media query เพื่อปรับแต่งสไตล์สำหรับมือถือ */
@media (max-width: 767px) {
    .card {
        width: 100%;
        margin-top: 20%; /* ทำให้การ์ดเต็มหน้าจอเมื่อเป็นมือถือ */
        max-width: none;
        margin: 0;
        text-align: center;
    }

    .card-image {
        min-height: auto; /* ไม่ต้องมีความสูงสำหรับรูปภาพ */
    }

    .card-description {
        padding: 1em;
    }

    /* เพิ่มขนาดตัวอักษรหรือระยะห่างขอบของการ์ดให้เหมาะสมกับมือถือ */
    .card h2 {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
    }

    .card p {
        font-size: 1.2rem;
    }
}
